# WebSocket Server Environment
# Copy to .env and fill in your values

JWT_SECRET="your-super-secret-jwt-key-change-in-production-min-32-chars"
DATABASE_URL="mysql://root:vorebase_root_pass@localhost:3306/vorebase"
WS_SERVER_PORT=4004
NODE_ENV=development
